{% extends "base.html" %}
{% block content %}
<style type="text/css">
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}
</style>
<h1>Available Forms</h1>
{% if object_list %}
<ul>
{% for form in object_list %}
<li>
<a href="{% url 'custom-form' form_pk=form.pk %}">
  Add entries to {{ form.title }}
</a>
<br/>
</li>
<br/>
<li>
<a href="{% url 'form-responses' form_pk=form.pk  %}">
  See Responses for {{ form.title }}
</a>
</li>
<br/>
<li>
  <a href="{% url 'edit-form' form_pk=form.pk %}">Edit Form schema for {{ form.title }}
  </a>
</li><br/>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
